html, body {
  background-color: #c56cf0;
  height: 100%;
    }
.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}


.button {
  
    background-color:  #cd84f1;
    display:block;
    height:15vw; 
    width: 15vw;
    border-radius: 50%;
    /*border: 8px solid  #e4b4e4ad; */
    border: none;
    margin: 0 auto;
    padding: 8px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
      

.button:hover { 
    background: #ce92ec; 
}



.forward_icon {
  font-size: 10vw;
  color: rgba(255, 255, 255, 0.63);
  position: relative;
  left: 0.75vw;
}
.pause_icon {
  font-size: 10vw;
  color: rgba(255, 255, 255, 0.63);
  position: relative;
  left: 0.15vw;
}

.loading {
  display: none;

  height:15vw; 
  width: 15vw;
    
}


.listen{
  font-weight: 650;
  font-size: max(24px,2vw);
  font-family: "Gill Sans", sans-serif;
  color: white;
}



.result {

  width: 100%;
  height: 40vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;


  flex-direction: column;

  display: none;
}

.links{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.songname {

  font-weight: 450;
  font-size: max(24px,2vw);
  font-family: "Gill Sans", sans-serif;
  color: white;

  text-align:center;

  bottom: 100vh;
}
.songname2{
  font-weight: 650;
  font-size: max(24px,8vw);
  font-family: "Gill Sans", sans-serif;
  color: white;

  text-align:center;

  bottom: 100vh;

  margin:0;
}
.subtitle{
  font-weight: 500;
  font-size: max(24px,4vw);
  font-family: "Gill Sans", sans-serif;
  color: white;

  text-align:center;

  margin-bottom: 10%;

  bottom: 100vh;
}

.logoimg{
  height: 10vh;
  color: black;
}

.musicbutton {
  
  border: none;

  width:100%;
  overflow: hidden; 
  padding: 10pxs;
   

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
.spotify{
  background-color:#3d15b0;
}
.apple{
  background-color:#bb99ff ;
}